<%= render 'welcome/nav' %>



<h1>Movie List</h1>


<ul>
    <% @movies.each do |m| %>
      <li class="container">
        <div class="col-md-6 col-md-offset-3">
          <h1 strong><%= m.title %></h1>
        
             <p>  <%= image_tag m.image.url(:small) %> </p>
		      <p> <%= m.year %> </p>
              <p> <%= m.plot %> </p>
       
           <div class ="badge"><%= link_to "See More", movie_path(m.id)%></div>
   <hr>
            <div>
         
            </div>
             <% end %>
          </div>
       
      </li>
      
</ul>

