<h1>Movie List</h1>

	<h2><% @movies.each do |m| %> </h2>

	<ul>
		<p>Title: <%= m.title %></p>
		<p> <%#= image_tag m.image, :size => "80x80" %></p>
		<p><%#= image_tag @movie.image.url(:large)%></p>
				<p> <%= image_tag m.image.url(:small) %></p>
		<p> Year: <%= m.year %></p>
		<p> Plot: <%= m.plot %></p>

		<%= link_to "See More", movie_path(m.id)  %>

	</ul>
	<% end %>

	<br>
	<br>

	<%= link_to 'Home', root_path %>

	

<%= link_to "Add a new movie!", new_movie_path %> 
