<%if current_user%>
	You are logged in as <%= current_user.first_name if current_user %>

	<%= link_to 'LOG OUT!', logout_path, method: :delete %>

<%else %>
	<%= link_to 'SIGN UP', users_new_path %>
	<%= link_to 'LOG IN!', login_path%>
<%end%>


<h1>Movie Blog</h1>

	<h2><% @movies.each do |m| %> </h2>
		<li>Title: <%= m.title %></li>
		<li> Image: <%= m.image %></li>
		<li> Year: <%= m.year %></li>
		<li> Plot: <%= m.plot %></li>

		<%= link_to "See More", movie_path(m.id)  %>


	<% end %>
	<br>
	<br>

<%= link_to "Add a new movie!", new_movie_path %>
