<h1> Title: <%= @movie.title %> </h1>

<p> <%= image_tag @movie.image%> </p>
<br>
<p> Year release: <%= @movie.year%> </p>
<br>
<p> Plot: <%= @movie.plot%> </p>
<br>


 
<h2>Add a comment:</h2>
<%= form_for([@movie, @movie.reviews.build]) do |f| %>
  <p>
    <%= f.label :user %><br>
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
 
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>













<%= link_to "Home", movies_path %>
 <br>

<%= link_to "Delete this movie", movies_path, method: :delete, data: { confirm: "R u sure?"} %>
