<% if current_user %>
You are logged in as <%= current_user.first_name%> <%= link_to 'Log Out', logout_path, method: :delete %>
<% end %>

<h1> Title: <%= @movie.title %> </h1>

<p> <%= image_tag @movie.image%> </p>
<br>
<p> Year release: <%= @movie.year%> </p>
<br>
<p> Plot: <%= @movie.plot%> </p>
<br>

<h2>Reviews</h2>
<%= render @movie.reviews %>



<h2>Add a review:</h2>
<%= render 'reviews/form' %>

 
<!-- <%= link_to 'Edit', edit_movie_path(@movie) %> -->

<%= link_to 'Home', root_path %>|
<%= link_to 'Back to Movie List', movies_path %>


 <br>

<!-- <%= link_to "Delete this movie", movies_path, method: :delete, data: { confirm: "R u sure?"} %> -->

