<%= render 'welcome/nav' %>

<% if current_user %>
You are logged in as <%= current_user.first_name%> <%= link_to 'Log Out', logout_path, method: :delete %>
<% end %>


<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
     <%= image_tag @user.avatar.url(:large)%>
    </a>
  </div>
  ...
</div>

<p> First Name: <%= @user.first_name %> </p>
<br>
<p> Last Name: <%= @user.last_name%> </p>
<br>
<p> Email: <%= @user.email%> </p>
<br>
<p><%= image_tag @user.avatar.url(:large)%></p>

<br>



<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">List group item heading</h4>
    <p class="list-group-item-text">...</p>
  </a>
</div>


<ul>
<h2>List of Movies:</h2>
 <% @user.movies.each do |m|%>
 	<li>

<p> Title: <%= m.title %> </p>

 		
	</li>

<%end%>

</ul>

<ul>
<h2>List of reviews:</h2>
 <% @user.reviews.each do |review|%>
 	<li>

 	My movie:<%= review.movie.title %> |
 	My review:<%= review.body %>
 		
	</li>

<%end%>

</ul>

<%= link_to 'Edit', edit_user_path(@user) %> 


<%= link_to "Delete your profile", user_path, method: :delete, 
												data: { confirm: "R u sure?"} %>

<%= link_to 'Home', root_path %>|
<br>
<%= link_to 'Back to Movie List', movies_path %>
