<%= render 'welcome/nav' %>

<%# if current_user %>
 <%#= current_user.first_name%> <%#= link_to 'Log Out', logout_path, method: :delete %>
<%# end %>


<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
     <%= image_tag @user.avatar.url(:large)%>
    </a>
</div>
<h3> <%= @user.first_name %> <%= @user.last_name%> </h3>
<p>  <%= @user.email%> </p>
<p>  Menber since: <%= @user.created_at%> </p>
</div>


<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Movies Published:</h4>
     <% @user.movies.each do |m|%>
    <p class="list-group-item-text"><%= m.title %></p>
    <%end%>
  </a>
</div>

<div class="list-group">
  <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Reviews Published:</h4>
     <% @user.reviews.each do |review|%>
    <p class="list-group-item-text"><%= review.movie.title %> : <%= review.body %> </p>
    <%end%>
  </a>
</div>

<nav>
  <ul class="pager">
    <li><%= link_to 'Edit Your Profile', edit_user_path(@user) %> </li>
    <li><%= link_to "Delete your profile", user_path, method: :delete, 
                        data: { confirm: "R u sure?"} %></li>
  </ul>
</nav>

<h2>Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
    <li>
      <%=h friendship.friend.first_name %>
      (<%= link_to "remove", friendship, :method => :delete %>)
    </li>
  <% end %>
</ul>

<p><%= link_to "Find Friends", users_path %></p>

<h2>Friended by Users</h2>
<ul>
  <% for user in @user.inverse_friends %>
    <li><%=h user.first_name %></li>
  <% end %>
</ul>


