<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
    	 <%=link_to 'Phirst Motion', root_path, :class =>"navbar-brand"%>

      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
        	<%if current_user%> 
        		 <%#= current_user.first_name if current_user %>
					
                   			<li><%= link_to 'Movies List', movies_path %></li>
				<li><%= link_to 'Post', new_movie_path %></li>
					<li><%= link_to 'Profile', user_path(current_user)%> </li>
          			<li><%= link_to 'Log Out', logout_path, method: :delete %></li> 

			<%else%>
				<li> <%= link_to 'Movies List', movies_path %></li>
				<li> <%= link_to 'Post', new_movie_path %></li>
				<li><%= link_to 'Sign In', login_path%></li> 
				<li><%= link_to 'Sign Up', users_new_path %></li> 
			<%end%>		
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>


	
	<div class='row text-center'><h2>Movies worth watching</h2>
    <p class ='lead'> Thats the welcomepage where there will be more text</p>
    <p>Hello <%= current_user.first_name if current_user %></p>
</div>


<div class="section-top" id ="body-home">
</div>



<div class="row text-center">
<div class='col-md-4'>
<h3> <i class = 'glyphicon glyphicon-user'></i><%= link_to 'Producers', users_path %></h3>
<p>balabalabalabalabaabalabalabalababalabalabalabalabaalabaa</p>
</div>
<div class='col-md-4'>
<h3> </h3>

</div>
<div class='col-md-4'>
<h3> <i class = 'glyphicon glyphicon-film'></i><%= link_to 'Movies playing', movies_path %></h3>
<p>balabalabalabalabalabalabalabalabalabaaba</p>
</div>
</div>
</div>
</div>

</div>

















	



